<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<context id="DB2Tables" targetRuntime="MyBatis3">

		<!--去掉注释-->
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>


		<!--配置数据库连接-->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
						connectionURL="jdbc:mysql://127.0.0.1:3306/microsoul"
						userId="root"
						password="root">
		</jdbcConnection>

		<javaTypeResolver >
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>
		<!--指定Java Bean生成的位置-->
		<javaModelGenerator targetPackage="com.hust.microsoul.model" targetProject=".\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<!--制定sql映射文件生成的位置-->
		<sqlMapGenerator targetPackage="mybatis"  targetProject=".\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<!--指定dao接口生成的位置，mapper接口-->
		<javaClientGenerator type="XMLMAPPER" targetPackage="com.hust.microsoul.mapper"  targetProject=".\src\main\java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!--指定对应的数据库表和对应的Java代码，-->
		
		<!-- tableName="数据库的表名" domainObjectName="对应的JavaBean的类名（自定义）"  -->
		<!---->
		<!--<table tableName="ad_info_table" domainObjectName="Ad_info_tableModel"></table>-->
		<!--<table tableName="adminitrator_table" domainObjectName="Adminitrator_tableModel"></table>-->
		<!--<table tableName="buyer" domainObjectName="BuyerModel"></table>-->
		<!--<table tableName="collection" domainObjectName="CollectionModel"></table>-->
		<!--<table tableName="goods" domainObjectName="GoodsModel"></table>-->
		<!--<table tableName="contentTable" domainObjectName="ContentsModel"></table>-->
		<!--<table tableName="order_goods_table" domainObjectName="Order_goods_tableModel"></table>-->
		<!--<table tableName="order_table" domainObjectName="Order_tableModel"></table>-->
		<!--<table tableName="seller" domainObjectName="SellerModel"></table>-->
		<table tableName="goods_desc" domainObjectName="GoodsDescModel"></table>


	</context>
</generatorConfiguration>
