<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.microsoul.mapper.Adminitrator_tableModelMapper">
  <resultMap id="BaseResultMap" type="com.hust.microsoul.model.Adminitrator_tableModel">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ACOUNT_NAME" jdbcType="VARCHAR" property="acountName" />
    <result column="QQ" jdbcType="INTEGER" property="qq" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="TELEPHONE" jdbcType="INTEGER" property="telephone" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ACOUNT_NAME, QQ, REAL_NAME, TELEPHONE, PASSWORD, EMAIL
  </sql>
  <select id="selectByExample" parameterType="com.hust.microsoul.model.Adminitrator_tableModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adminitrator_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adminitrator_table
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adminitrator_table
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hust.microsoul.model.Adminitrator_tableModelExample">
    delete from adminitrator_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hust.microsoul.model.Adminitrator_tableModel">
    insert into adminitrator_table (ID, ACOUNT_NAME, QQ, 
      REAL_NAME, TELEPHONE, PASSWORD, 
      EMAIL)
    values (#{id,jdbcType=INTEGER}, #{acountName,jdbcType=VARCHAR}, #{qq,jdbcType=INTEGER}, 
      #{realName,jdbcType=VARCHAR}, #{telephone,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.microsoul.model.Adminitrator_tableModel">
    insert into adminitrator_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="acountName != null">
        ACOUNT_NAME,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="realName != null">
        REAL_NAME,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="acountName != null">
        #{acountName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=INTEGER},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hust.microsoul.model.Adminitrator_tableModelExample" resultType="java.lang.Long">
    select count(*) from adminitrator_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update adminitrator_table
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.acountName != null">
        ACOUNT_NAME = #{record.acountName,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        QQ = #{record.qq,jdbcType=INTEGER},
      </if>
      <if test="record.realName != null">
        REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null">
        TELEPHONE = #{record.telephone,jdbcType=INTEGER},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update adminitrator_table
    set ID = #{record.id,jdbcType=INTEGER},
      ACOUNT_NAME = #{record.acountName,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=INTEGER},
      REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      TELEPHONE = #{record.telephone,jdbcType=INTEGER},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.microsoul.model.Adminitrator_tableModel">
    update adminitrator_table
    <set>
      <if test="acountName != null">
        ACOUNT_NAME = #{acountName,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=INTEGER},
      </if>
      <if test="realName != null">
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.microsoul.model.Adminitrator_tableModel">
    update adminitrator_table
    set ACOUNT_NAME = #{acountName,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=INTEGER},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=INTEGER},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="adminLogin" parameterType="com.hust.microsoul.model.Adminitrator_tableModel" resultType="com.hust.microsoul.model.Adminitrator_tableModel">
    select 
    *
    from adminitrator_table
    where ACOUNT_NAME = #{acountName,jdbcType=VARCHAR}
    and   PASSWORD = #{password,jdbcType=VARCHAR}
  </select>
</mapper>