<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.microsoul.mapper.GoodsModelMapper">
  <resultMap id="BaseResultMap" type="com.hust.microsoul.model.GoodsModel">
    <id column="GOODS_ID" jdbcType="INTEGER" property="goodsId" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="SELLPOINT" jdbcType="VARCHAR" property="sellpoint" />
    <result column="UNIT_PRICE" jdbcType="INTEGER" property="unitPrice" />
    <result column="PURCHASE_QUANTITY" jdbcType="INTEGER" property="purchaseQuantity" />
    <result column="BARCODE" jdbcType="INTEGER" property="barcode" />
    <result column="IMAGE_URL" jdbcType="VARCHAR" property="imageUrl" />
    <result column="CATEGORY" jdbcType="INTEGER" property="category" />
    <result column="STORE" jdbcType="INTEGER" property="store" />
    <result column="DETAIL" jdbcType="VARCHAR" property="detail" />
    <result column="DISCOUNT" jdbcType="INTEGER" property="discount" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="COLLECTION_ID" jdbcType="INTEGER" property="collectionId" />
    <result column="SELLER_ID" jdbcType="INTEGER" property="sellerId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GOODS_ID, GOODS_NAME, TITLE, SELLPOINT, UNIT_PRICE, PURCHASE_QUANTITY, BARCODE, IMAGE_URL, 
    CATEGORY, STORE, DETAIL, DISCOUNT, STATUS, CREATED, UPDATED, COLLECTION_ID, SELLER_ID
  </sql>
  <select id="selectByExample" parameterType="com.hust.microsoul.model.GoodsModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where GOODS_ID = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where GOODS_ID = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hust.microsoul.model.GoodsModelExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hust.microsoul.model.GoodsModel">
    insert into goods (GOODS_ID, GOODS_NAME, TITLE, 
      SELLPOINT, UNIT_PRICE, PURCHASE_QUANTITY, 
      BARCODE, IMAGE_URL, CATEGORY, 
      STORE, DETAIL, DISCOUNT, 
      STATUS, CREATED, UPDATED, 
      COLLECTION_ID, SELLER_ID)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{sellpoint,jdbcType=VARCHAR}, #{unitPrice,jdbcType=INTEGER}, #{purchaseQuantity,jdbcType=INTEGER}, 
      #{barcode,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{category,jdbcType=INTEGER}, 
      #{store,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, #{discount,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
      #{collectionId,jdbcType=INTEGER}, #{sellerId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.microsoul.model.GoodsModel">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="sellpoint != null">
        SELLPOINT,
      </if>
      <if test="unitPrice != null">
        UNIT_PRICE,
      </if>
      <if test="purchaseQuantity != null">
        PURCHASE_QUANTITY,
      </if>
      <if test="barcode != null">
        BARCODE,
      </if>
      <if test="imageUrl != null">
        IMAGE_URL,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="store != null">
        STORE,
      </if>
      <if test="detail != null">
        DETAIL,
      </if>
      <if test="discount != null">
        DISCOUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="collectionId != null">
        COLLECTION_ID,
      </if>
      <if test="sellerId != null">
        SELLER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sellpoint != null">
        #{sellpoint,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="purchaseQuantity != null">
        #{purchaseQuantity,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="store != null">
        #{store,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="collectionId != null">
        #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hust.microsoul.model.GoodsModelExample" resultType="java.lang.Long">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.goodsId != null">
        GOODS_ID = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sellpoint != null">
        SELLPOINT = #{record.sellpoint,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null">
        UNIT_PRICE = #{record.unitPrice,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseQuantity != null">
        PURCHASE_QUANTITY = #{record.purchaseQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.barcode != null">
        BARCODE = #{record.barcode,jdbcType=INTEGER},
      </if>
      <if test="record.imageUrl != null">
        IMAGE_URL = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        CATEGORY = #{record.category,jdbcType=INTEGER},
      </if>
      <if test="record.store != null">
        STORE = #{record.store,jdbcType=INTEGER},
      </if>
      <if test="record.detail != null">
        DETAIL = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.discount != null">
        DISCOUNT = #{record.discount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.created != null">
        CREATED = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null">
        UPDATED = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.collectionId != null">
        COLLECTION_ID = #{record.collectionId,jdbcType=INTEGER},
      </if>
      <if test="record.sellerId != null">
        SELLER_ID = #{record.sellerId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set GOODS_ID = #{record.goodsId,jdbcType=INTEGER},
      GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      SELLPOINT = #{record.sellpoint,jdbcType=VARCHAR},
      UNIT_PRICE = #{record.unitPrice,jdbcType=INTEGER},
      PURCHASE_QUANTITY = #{record.purchaseQuantity,jdbcType=INTEGER},
      BARCODE = #{record.barcode,jdbcType=INTEGER},
      IMAGE_URL = #{record.imageUrl,jdbcType=VARCHAR},
      CATEGORY = #{record.category,jdbcType=INTEGER},
      STORE = #{record.store,jdbcType=INTEGER},
      DETAIL = #{record.detail,jdbcType=VARCHAR},
      DISCOUNT = #{record.discount,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATED = #{record.created,jdbcType=TIMESTAMP},
      UPDATED = #{record.updated,jdbcType=TIMESTAMP},
      COLLECTION_ID = #{record.collectionId,jdbcType=INTEGER},
      SELLER_ID = #{record.sellerId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.microsoul.model.GoodsModel">
    update goods
    <set>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sellpoint != null">
        SELLPOINT = #{sellpoint,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        UNIT_PRICE = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="purchaseQuantity != null">
        PURCHASE_QUANTITY = #{purchaseQuantity,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        BARCODE = #{barcode,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=INTEGER},
      </if>
      <if test="store != null">
        STORE = #{store,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        DISCOUNT = #{discount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="collectionId != null">
        COLLECTION_ID = #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null">
        SELLER_ID = #{sellerId,jdbcType=INTEGER},
      </if>
    </set>
    where GOODS_ID = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.microsoul.model.GoodsModel">
    update goods
    set GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      SELLPOINT = #{sellpoint,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=INTEGER},
      PURCHASE_QUANTITY = #{purchaseQuantity,jdbcType=INTEGER},
      BARCODE = #{barcode,jdbcType=INTEGER},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=INTEGER},
      STORE = #{store,jdbcType=INTEGER},
      DETAIL = #{detail,jdbcType=VARCHAR},
      DISCOUNT = #{discount,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATED = #{created,jdbcType=TIMESTAMP},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      COLLECTION_ID = #{collectionId,jdbcType=INTEGER},
      SELLER_ID = #{sellerId,jdbcType=INTEGER}
    where GOODS_ID = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>