<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	<typeAliases>

		<typeAlias alias="Ad_info_tableModel" type="com.hust.microsoul.model.Ad_info_tableModel" />
		<typeAlias alias="Ad_info_tableModelExample" type="com.hust.microsoul.model.Ad_info_tableModelExample" />
		<typeAlias alias="AdministratorModel" type="com.hust.microsoul.model.AdministratorModel" />
		<typeAlias alias="Adminitrator_tableModel" type="com.hust.microsoul.model.Adminitrator_tableModel" />
		<typeAlias alias="Adminitrator_tableModelExample" type="com.hust.microsoul.model.Adminitrator_tableModelExample" />
		<typeAlias alias="AdvertisementModel" type="com.hust.microsoul.model.AdvertisementModel" />
		<typeAlias alias="buyerModel" type="com.hust.microsoul.model.BuyerModel" />
		<typeAlias alias="BuyerModelExample" type="com.hust.microsoul.model.BuyerModelExample" />
		<typeAlias alias="CollectionModel" type="com.hust.microsoul.model.CollectionModel" />
		<typeAlias alias="CollectionModelExample" type="com.hust.microsoul.model.CollectionModelExample" />
		<typeAlias alias="CollectionModelKey" type="com.hust.microsoul.model.CollectionModelKey" />
		<typeAlias alias="goodsModel" type="com.hust.microsoul.model.GoodsModel" />
		<typeAlias alias="GoodsModelExample" type="com.hust.microsoul.model.GoodsModelExample" />
		<typeAlias alias="Order_goods_tableModel" type="com.hust.microsoul.model.Order_goods_tableModel" />
		<typeAlias alias="Order_goods_tableModelExample" type="com.hust.microsoul.model.Order_goods_tableModelExample" />
		<typeAlias alias="Order_tableModel" type="com.hust.microsoul.model.Order_tableModel" />
		<typeAlias alias="Order_tableModelExample" type="com.hust.microsoul.model.Order_tableModelExample" />
		<typeAlias alias="SellerModel" type="com.hust.microsoul.model.SellerModel" />
		<typeAlias alias="SellerModelExample" type="com.hust.microsoul.model.SellerModelExample" />
	</typeAliases>

	<!--
plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
properties?, settings?,
typeAliases?, typeHandlers?,
objectFactory?,objectWrapperFactory?,
plugins?,
environments?, databaseIdProvider?, mappers?
-->
	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
			<property name="param1" value="value1"/>
		</plugin>
	</plugins>

	<mappers>
		<mapper resource="mybatis/goods.xml"/>
		<mapper resource="mybatis/Ad_info_tableModelMapper.xml"/>
		<mapper resource="mybatis/Adminitrator_tableModelMapper.xml"/>
		<mapper resource="mybatis/BuyerModelMapper.xml"/>
		<mapper resource="mybatis/GoodsModelMapper.xml"/>
		<mapper resource="mybatis/Order_goods_tableModelMapper.xml"/>
		<mapper resource="mybatis/Order_tableModelMapper.xml"/>
		<mapper resource="mybatis/SellerModelMapper.xml"/>
	</mappers>
</configuration>