<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.microsoul.mapper.OrderMapper">
  <resultMap id="orderMap" type="orderModel">
    <id column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="LOGISTIC_ID" jdbcType="VARCHAR" property="logisticId" />
    <result column="BUYER_ID" jdbcType="INTEGER" property="buyerId" />
    <result column="SELLER_ID" jdbcType="INTEGER" property="sellerId" />
    <result column="ORDER_TIME" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="PAY_TIME" jdbcType="TIMESTAMP" property="payTime" />
    <result column="DELIVER_TIME" jdbcType="TIMESTAMP" property="deliverTime" />
     <collection property="goods" ofType="goodsModel">  
        <id property="goodsId" column="GOODS_ID"/>  
        <result property="imageUrl" column="IMAGE_URL"/>  
        <result property="unitPrice" column="UNIT_PRICE"/>
        <result property="goodsName" column="GOODS_NAME"/>
        <result property="purchaseQuantity" column="NUM"/>
    </collection>  
  </resultMap>
	<select id="getOrderList" resultMap="orderMap" parameterType="orderModel">
		select
			 a.* , c.*,b.num as NUM 
		from 
			 order_table a ,order_goods_table b,goods c 
		where 
			a.ORDER_ID = b.ORDER_ID 
		and 
			b.GOODS_ID = c.GOODS_ID
		and 
			a.ORDER_ID = #{orderId}
	</select>
  <insert id="buyerCreateOrder" keyProperty="orderId" useGeneratedKeys="true" parameterType="orderModel">
    insert into order_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="state != null">
        STATE,
      </if>
      <if test="logisticId != null">
        LOGISTIC_ID,
      </if>
      <if test="buyerId != null">
        BUYER_ID,
      </if>
      <if test="sellerId != null">
        SELLER_ID,
      </if>
      <if test="orderTime != null">
        ORDER_TIME,
      </if>
      <if test="payTime != null">
        PAY_TIME,
      </if>
      <if test="deliverTime != null">
        DELIVER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="state != null">
        #{state},
      </if>
      <if test="logisticId != null">
        #{logisticId},
      </if>
      <if test="buyerId != null">
        #{buyerId},
      </if>
      <if test="sellerId != null">
        #{sellerId},
      </if>
      <if test="orderTime != null">
        #{orderTime},
      </if>
      <if test="payTime != null">
        #{payTime},
      </if>
      <if test="deliverTime != null">
        #{deliverTime},
      </if>
    </trim>
  </insert>
</mapper>