<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.microsoul.mapper.OrderMapper">
  <resultMap id="orderMap" type="orderModel">
    <id column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="LOGISTIC_ID" jdbcType="VARCHAR" property="logisticId" />
    <result column="LOGISTIC_ID_REJECT" jdbcType="VARCHAR" property="logisticIdReject" />
    
    <result column="BUYER_ID" jdbcType="INTEGER" property="buyerId" />
    <result column="SELLER_ID" jdbcType="INTEGER" property="sellerId" />
    <result column="PAY_ID" jdbcType="VARCHAR" property="payId" />
    <result column="TOTAL_PRICE" jdbcType="FLOAT" property="totalPrice" />
    <result column="SELLER_NAME" jdbcType="VARCHAR" property="sellerName" />
    <result column="ORDER_TIME" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="PAY_TIME" jdbcType="TIMESTAMP" property="payTime" />
    <result column="DELIVER_TIME" jdbcType="TIMESTAMP" property="deliverTime" />
  </resultMap>
	<select id="getOrderList" resultMap="orderMap" parameterType="orderModel">
		select
			 a.* ,b.REAL_NAME as SELLER_NAME
		from 
			 order_table a ,SELLER b
		where
			b.ID_SELLER = a.SELLER_ID
		and 
			a.state = #{state} 
			<if test="buyerId !=null">
				and a.BUYER_ID = #{buyerId} 
			</if> 
			<if test="sellerId !=null">
				and a.SELLER_ID = #{sellerId} 
			</if> 
	</select>
	<select id="getOrderInfo" resultMap="orderMap" parameterType="java.lang.Integer">
		select
			 *
		from 
			 order_table
		where 
			ORDER_ID = #{id}
	</select>
  <insert id="buyerCreateOrder" keyProperty="orderId" useGeneratedKeys="true" parameterType="orderModel">
    insert into order_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	  <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="logisticId != null">
        LOGISTIC_ID,
      </if>
      <if test="buyerId != null">
        BUYER_ID,
      </if>
      <if test="sellerId != null">
        SELLER_ID,
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE,
      </if>
      <if test="orderTime != null">
        ORDER_TIME,
      </if>
      <if test="payTime != null">
        PAY_TIME,
      </if>
      <if test="deliverTime != null">
        DELIVER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="logisticId != null">
        #{logisticId},
      </if>
      <if test="buyerId != null">
        #{buyerId},
      </if>
      <if test="sellerId != null">
        #{sellerId},
      </if>
      <if test="totalPrice != null">
        #{totalPrice},
      </if>
      <if test="orderTime != null">
        #{orderTime},
      </if>
      <if test="payTime != null">
        #{payTime},
      </if>
      <if test="deliverTime != null">
        #{deliverTime},
      </if>
    </trim>
  </insert>
  
  <update id="deleteOrder" parameterType="OrderModel">
  	delete from order_table where ORDER_ID =#{orderId}
  </update>
  
  <update id="setLogisticId" parameterType="OrderModel">
  	update order_table set DELIVER_TIME = #{deliverTime},LOGISTIC_ID = #{logisticId} ,STATE = #{state} where ORDER_ID =#{orderId}
  </update>
 
  <update id="setLogisticIdReject" parameterType="OrderModel">
  	update order_table set LOGISTIC_ID_REJECT = #{logisticIdReject} ,STATE = #{state} where ORDER_ID =#{orderId}
  </update>
 
  <update id="updateOrderState" parameterType="OrderModel">
  	update order_table set STATE = #{state} where ORDER_ID =#{orderId}
  </update>
  
  <update id="setPayId" parameterType="OrderModel">
  	update order_table set PAY_ID = #{payId} ,STATE = #{state} where ORDER_ID =#{orderId}
  </update>
</mapper>