<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.microsoul.mapper.Order_tableModelMapper">
  <resultMap id="BaseResultMap" type="com.hust.microsoul.model.Order_tableModel">
    <id column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="LOGISTIC_ID" jdbcType="INTEGER" property="logisticId" />
    <result column="BUYERS_ORDER_ID" jdbcType="INTEGER" property="buyersOrderId" />
    <result column="ORDER_TIME" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="PAY_TIME" jdbcType="TIMESTAMP" property="payTime" />
    <result column="DELIVER_TIME" jdbcType="TIMESTAMP" property="deliverTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ORDER_ID, STATE, LOGISTIC_ID, BUYERS_ORDER_ID, ORDER_TIME, PAY_TIME, DELIVER_TIME
  </sql>
  <select id="selectByExample" parameterType="com.hust.microsoul.model.Order_tableModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_table
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_table
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hust.microsoul.model.Order_tableModelExample">
    delete from order_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hust.microsoul.model.Order_tableModel">
    insert into order_table (ORDER_ID, STATE, LOGISTIC_ID, 
      BUYERS_ORDER_ID, ORDER_TIME, PAY_TIME, 
      DELIVER_TIME)
    values (#{orderId,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{logisticId,jdbcType=INTEGER}, 
      #{buyersOrderId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{deliverTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.microsoul.model.Order_tableModel">
    insert into order_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="logisticId != null">
        LOGISTIC_ID,
      </if>
      <if test="buyersOrderId != null">
        BUYERS_ORDER_ID,
      </if>
      <if test="orderTime != null">
        ORDER_TIME,
      </if>
      <if test="payTime != null">
        PAY_TIME,
      </if>
      <if test="deliverTime != null">
        DELIVER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="logisticId != null">
        #{logisticId,jdbcType=INTEGER},
      </if>
      <if test="buyersOrderId != null">
        #{buyersOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null">
        #{deliverTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hust.microsoul.model.Order_tableModelExample" resultType="java.lang.Long">
    select count(*) from order_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_table
    <set>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticId != null">
        LOGISTIC_ID = #{record.logisticId,jdbcType=INTEGER},
      </if>
      <if test="record.buyersOrderId != null">
        BUYERS_ORDER_ID = #{record.buyersOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderTime != null">
        ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null">
        PAY_TIME = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliverTime != null">
        DELIVER_TIME = #{record.deliverTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_table
    set ORDER_ID = #{record.orderId,jdbcType=INTEGER},
      STATE = #{record.state,jdbcType=VARCHAR},
      LOGISTIC_ID = #{record.logisticId,jdbcType=INTEGER},
      BUYERS_ORDER_ID = #{record.buyersOrderId,jdbcType=INTEGER},
      ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{record.payTime,jdbcType=TIMESTAMP},
      DELIVER_TIME = #{record.deliverTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.microsoul.model.Order_tableModel">
    update order_table
    <set>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="logisticId != null">
        LOGISTIC_ID = #{logisticId,jdbcType=INTEGER},
      </if>
      <if test="buyersOrderId != null">
        BUYERS_ORDER_ID = #{buyersOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null">
        DELIVER_TIME = #{deliverTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.microsoul.model.Order_tableModel">
    update order_table
    set STATE = #{state,jdbcType=VARCHAR},
      LOGISTIC_ID = #{logisticId,jdbcType=INTEGER},
      BUYERS_ORDER_ID = #{buyersOrderId,jdbcType=INTEGER},
      ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      DELIVER_TIME = #{deliverTime,jdbcType=TIMESTAMP}
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>