<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.microsoul.mapper.SellerModelMapper">
  <resultMap id="BaseResultMap" type="com.hust.microsoul.model.SellerModel">
    <id column="ID_SELLER" jdbcType="INTEGER" property="idSeller" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="ZHIFUBAO_ACCOUNT" jdbcType="VARCHAR" property="zhifubaoAccount" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="QQ_ACCOUNT" jdbcType="INTEGER" property="qqAccount" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="MerId" jdbcType="VARCHAR" property="merid" />
    <result column="MerKey" jdbcType="VARCHAR" property="merkey" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID_SELLER, ACCOUNT_NAME, PASSWORD, ZHIFUBAO_ACCOUNT, EMAIL, QQ_ACCOUNT, DISTRICT, 
    REAL_NAME, ADDRESS, TELEPHONE, STATE, MerId, MerKey
  </sql>
  <select id="selectByExample" parameterType="com.hust.microsoul.model.SellerModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seller
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller
    where ID_SELLER = #{idSeller,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seller
    where ID_SELLER = #{idSeller,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hust.microsoul.model.SellerModelExample">
    delete from seller
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hust.microsoul.model.SellerModel">
    insert into seller (ID_SELLER, ACCOUNT_NAME, PASSWORD, 
      ZHIFUBAO_ACCOUNT, EMAIL, QQ_ACCOUNT, 
      DISTRICT, REAL_NAME, ADDRESS, 
      TELEPHONE, STATE, MerId, 
      MerKey)
    values (#{idSeller,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{zhifubaoAccount,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qqAccount,jdbcType=INTEGER}, 
      #{district,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{merid,jdbcType=VARCHAR}, 
      #{merkey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.microsoul.model.SellerModel">
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idSeller != null">
        ID_SELLER,
      </if>
      <if test="accountName != null">
        ACCOUNT_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="zhifubaoAccount != null">
        ZHIFUBAO_ACCOUNT,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="qqAccount != null">
        QQ_ACCOUNT,
      </if>
      <if test="district != null">
        DISTRICT,
      </if>
      <if test="realName != null">
        REAL_NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="merid != null">
        MerId,
      </if>
      <if test="merkey != null">
        MerKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idSeller != null">
        #{idSeller,jdbcType=INTEGER},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="zhifubaoAccount != null">
        #{zhifubaoAccount,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qqAccount != null">
        #{qqAccount,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="merid != null">
        #{merid,jdbcType=VARCHAR},
      </if>
      <if test="merkey != null">
        #{merkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hust.microsoul.model.SellerModelExample" resultType="java.lang.Long">
    select count(*) from seller
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seller
    <set>
      <if test="record.idSeller != null">
        ID_SELLER = #{record.idSeller,jdbcType=INTEGER},
      </if>
      <if test="record.accountName != null">
        ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.zhifubaoAccount != null">
        ZHIFUBAO_ACCOUNT = #{record.zhifubaoAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.qqAccount != null">
        QQ_ACCOUNT = #{record.qqAccount,jdbcType=INTEGER},
      </if>
      <if test="record.district != null">
        DISTRICT = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null">
        TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.merid != null">
        MerId = #{record.merid,jdbcType=VARCHAR},
      </if>
      <if test="record.merkey != null">
        MerKey = #{record.merkey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seller
    set ID_SELLER = #{record.idSeller,jdbcType=INTEGER},
      ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      ZHIFUBAO_ACCOUNT = #{record.zhifubaoAccount,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      QQ_ACCOUNT = #{record.qqAccount,jdbcType=INTEGER},
      DISTRICT = #{record.district,jdbcType=VARCHAR},
      REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=INTEGER},
      MerId = #{record.merid,jdbcType=VARCHAR},
      MerKey = #{record.merkey,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.microsoul.model.SellerModel">
    update seller
    <set>
      <if test="accountName != null">
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="zhifubaoAccount != null">
        ZHIFUBAO_ACCOUNT = #{zhifubaoAccount,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qqAccount != null">
        QQ_ACCOUNT = #{qqAccount,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        DISTRICT = #{district,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="merid != null">
        MerId = #{merid,jdbcType=VARCHAR},
      </if>
      <if test="merkey != null">
        MerKey = #{merkey,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_SELLER = #{idSeller,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.microsoul.model.SellerModel">
    update seller
    set ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ZHIFUBAO_ACCOUNT = #{zhifubaoAccount,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      QQ_ACCOUNT = #{qqAccount,jdbcType=INTEGER},
      DISTRICT = #{district,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      MerId = #{merid,jdbcType=VARCHAR},
      MerKey = #{merkey,jdbcType=VARCHAR}
    where ID_SELLER = #{idSeller,jdbcType=INTEGER}
  </update>
</mapper>